<h1>Thank God you have a Stupid Coach!</h1>
<p>I probably can't help you, but feel free to ask me anyway...</p>

<form action="/answer" method="get">
  <input type="text" name="query" placeholder="What's your question?">
  <input type="submit">
</form>
